In [1]:
import numpy as np
import pandas as pd
import glob
import os
from datetime import datetime as dt
pd.options.mode.chained_assignment = None  # default='warn'  ###This is to deal with SettingWithCopyWarning
pd.options.display.float_format = '{:.1f}'.format ###This is to be able to sum columns without scientific notations

**To combine all data files into one csv**

In [2]:
df = pd.DataFrame()

In [3]:
###Folder path
folder_path = ("C:/Users/user/Desktop/DATA SCIENCE/Project Data")

In [4]:
####Locating the files in a folder

all_data = glob.glob(os.path.join(folder_path + "/*.csv"))

In [5]:
###Concatenating the files into a CSV file
df = pd.concat(map(pd.read_csv, all_data))
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Customer ID
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",75315
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",59963
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",25532
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",25532
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",89128
...,...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",254883
11682,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",175553
11683,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",133937
11684,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",189758
11685,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",276924

In [6]:
df.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
Customer ID          int64
dtype: object

In [7]:
###Getting the total number of unique Customers

df["Customer ID"].nunique()

177333

# Refining dataset

**Splitting Order Date series into Date and Time columns**

In [8]:
###Checking for unique values in the date series
df["Order Date"].unique()

array(['04/19/19 08:46', '04/07/19 22:30', '04/12/19 14:38', ...,
       '09/23/19 07:39', '09/19/19 17:30', '09/30/19 00:18'], dtype=object)

In [9]:
###Converting Order Date to Pandas recognised: errors='coerce' is used to rectify a recurring error of unknown string format
df['Order Date']= pd.to_datetime(df['Order Date'], dayfirst=True, errors='coerce')
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Customer ID
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",75315
1,176559,Bose SoundSport Headphones,1,99.99,2019-07-04 22:30:00,"682 Chestnut St, Boston, MA 02215",59963
2,176560,Google Phone,1,600,2019-12-04 14:38:00,"669 Spruce St, Los Angeles, CA 90001",25532
3,176560,Wired Headphones,1,11.99,2019-12-04 14:38:00,"669 Spruce St, Los Angeles, CA 90001",25532
4,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",89128
...,...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001",254883
11682,259354,iPhone,1,700,2019-01-09 16:00:00,"216 Dogwood St, San Francisco, CA 94016",175553
11683,259355,iPhone,1,700,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016",133937
11684,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016",189758
11685,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016",276924

In [10]:
##Splitting Order Date into Date and Time column

df['Date'] = pd.to_datetime(df['Order Date']).dt.date
df['Time'] = pd.to_datetime(df['Order Date']).dt.time

In [11]:
###To handle NAT values
df=df.dropna()

In [12]:
###Separating Dates into years, months and days
df["Day"] = df['Order Date'].dt.day_name()
df["Month"] = df['Order Date'].apply(lambda a: dt.strftime(a, "%b"))
df["Year"] = df['Order Date'].dt.year
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Customer ID,Date,Time,Day,Month,Year
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",75315,2019-04-19,08:46:00,Friday,Apr,2019
1,176559,Bose SoundSport Headphones,1,99.99,2019-07-04 22:30:00,"682 Chestnut St, Boston, MA 02215",59963,2019-07-04,22:30:00,Thursday,Jul,2019
2,176560,Google Phone,1,600,2019-12-04 14:38:00,"669 Spruce St, Los Angeles, CA 90001",25532,2019-12-04,14:38:00,Wednesday,Dec,2019
3,176560,Wired Headphones,1,11.99,2019-12-04 14:38:00,"669 Spruce St, Los Angeles, CA 90001",25532,2019-12-04,14:38:00,Wednesday,Dec,2019
4,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",89128,2019-04-30,09:27:00,Tuesday,Apr,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
11681,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,"840 Highland St, Los Angeles, CA 90001",254883,2019-09-17,20:56:00,Tuesday,Sep,2019
11682,259354,iPhone,1,700,2019-01-09 16:00:00,"216 Dogwood St, San Francisco, CA 94016",175553,2019-01-09,16:00:00,Wednesday,Jan,2019
11683,259355,iPhone,1,700,2019-09-23 07:39:00,"220 12th St, San Francisco, CA 94016",133937,2019-09-23,07:39:00,Monday,Sep,2019
11684,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,"511 Forest St, San Francisco, CA 94016",189758,2019-09-19,17:30:00,Thursday,Sep,2019
11685,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,"250 Meadow St, San Francisco, CA 94016",276924,2019-09-30,00:18:00,Monday,Sep,2019

In [13]:
##This is to split the Purchase Address column for the City(a new column)

df["City"] = df["Purchase Address"].str.split(",", expand=True)[1]

##This is to split the Purchase Address column for the State(a new column)
df["State1"] = df["Purchase Address"].str.split(",", expand=True)[2]
df["State"] = df["State1"].str.split(" ", expand=True)[1]

###Dropping unwanted columns
df = df.drop(["State1", "Purchase Address", "Order Date"], axis=1)
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Customer ID,Date,Time,Day,Month,Year,City,State
0,176558,USB-C Charging Cable,2,11.95,75315,2019-04-19,08:46:00,Friday,Apr,2019,Dallas,TX
1,176559,Bose SoundSport Headphones,1,99.99,59963,2019-07-04,22:30:00,Thursday,Jul,2019,Boston,MA
2,176560,Google Phone,1,600,25532,2019-12-04,14:38:00,Wednesday,Dec,2019,Los Angeles,CA
3,176560,Wired Headphones,1,11.99,25532,2019-12-04,14:38:00,Wednesday,Dec,2019,Los Angeles,CA
4,176561,Wired Headphones,1,11.99,89128,2019-04-30,09:27:00,Tuesday,Apr,2019,Los Angeles,CA

In [14]:
###Checking for unique values of the Quantity Ordered column
df["Quantity Ordered"].unique()

array(['2', '1', '3', '5', '4', '7', '6', '8', '9'], dtype=object)

In [15]:
###Multiplication of Quantity Ordered and Price Each columns to get the amount paid
df["Amount"] = df.loc[:, "Quantity Ordered"].astype(int) * df.loc[:, "Price Each"].astype(float)
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Customer ID,Date,Time,Day,Month,Year,City,State,Amount
0,176558,USB-C Charging Cable,2,11.95,75315,2019-04-19,08:46:00,Friday,Apr,2019,Dallas,TX,23.9
1,176559,Bose SoundSport Headphones,1,99.99,59963,2019-07-04,22:30:00,Thursday,Jul,2019,Boston,MA,100.0
2,176560,Google Phone,1,600,25532,2019-12-04,14:38:00,Wednesday,Dec,2019,Los Angeles,CA,600.0
3,176560,Wired Headphones,1,11.99,25532,2019-12-04,14:38:00,Wednesday,Dec,2019,Los Angeles,CA,12.0
4,176561,Wired Headphones,1,11.99,89128,2019-04-30,09:27:00,Tuesday,Apr,2019,Los Angeles,CA,12.0

In [16]:
###Changing the data type of the Year series to aid analysis
df["Year"] = df["Year"].astype(str)

In [17]:
###Changing the data type of the Quantity Ordered column so as to be able to perform some mathematical operations

df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'])
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Customer ID,Date,Time,Day,Month,Year,City,State,Amount
0,176558,USB-C Charging Cable,2,11.95,75315,2019-04-19,08:46:00,Friday,Apr,2019,Dallas,TX,23.9
1,176559,Bose SoundSport Headphones,1,99.99,59963,2019-07-04,22:30:00,Thursday,Jul,2019,Boston,MA,100.0
2,176560,Google Phone,1,600,25532,2019-12-04,14:38:00,Wednesday,Dec,2019,Los Angeles,CA,600.0
3,176560,Wired Headphones,1,11.99,25532,2019-12-04,14:38:00,Wednesday,Dec,2019,Los Angeles,CA,12.0
4,176561,Wired Headphones,1,11.99,89128,2019-04-30,09:27:00,Tuesday,Apr,2019,Los Angeles,CA,12.0

In [18]:
df.to_csv("Refined Project Data")